body {
    margin: 0;
    padding: 0;
    background: url(../img/fondoindex.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-form {
    margin-top: 60px;
    box-shadow: 0px 0px 10px 1px gray;
    border-radius: 5px;
    background: white;
    padding-bottom: 20px;
}

.tittle {
    background: linear-gradient(135deg, #13f1fc 0%, #0470dc 100%);
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 0px 0px 10px 10px;
}

.table1 {
    margin-top: 180px;
    margin-left: 30px;
    margin-right: 30px;
}

.table-hover tbody tr:hover td {
    background-color: dodgerblue;
}